.header {
  width: 1152px;
  height: 86px;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  left: 0;
  right: 0;

  .logo {
    width: auto;
    height: 100%;
  }

  .right {
    display: flex;
    flex-direction: row;

    .select-language {
      width: 148px;
      height: 32px;
      margin-right: 32px;

      color: #ffffff;
      background-color: transparent;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
    }

    .btn-sign-in {
      width: 77px;
      height: 32px;
    }
  }
}

.section-container {
  width: 100%;
  height: 700px;

  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('../../assets/images/background-sign-up.jpg');
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 48px;
      font-weight: 900;
    }

    .sub-title {
      margin: 16px auto 16px;
      font-size: 24px;
      font-weight: 400;
    }
  }
}
