.container {
  width: 450px;
  height: 660px;
  padding: 60px 68px 40px;

  border-radius: 4px;
  background-color: #000000bf;
}

.title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}
