.btn-question,
.answer {
  width: 1152px;
  padding: 24px;
  background-color: #2d2d2d;
}

.btn-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .question {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
  }

  .plus-icon {
    width: 36px;
    height: 36px;

    &--rotate {
      transform: rotate(-45deg);
    }
  }
}

.answer {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 2px;
  white-space: pre-wrap;
}
