.container {
  width: 230px;
  height: 130px;
  background-image: url(https://occ-0-395-58.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABU6XOZTtDGkLYhUFg_3UZDaXaH6ghG9OuN6FPIrid55wHLos-2XFZ63zpdcGM-WXTEIBbnENrkcnu3ZfINug60wW7Hx_wMxZfwO5jCh94PXXheDPbXcFIPOyZDGqCLNUGvphSBIJM2cjPtl1RkVV_n_2oU4Q2SD4U9NPpE5hViR-h1femnc-QfaVycaiPeCgwaL-bM08q1R5z0bRrkzHUIDrpKklj8rxQ2IUYHBZ4u66rEEIZCuziW3dogj2ZlFu7XvM89p6w9NkXI6av19UXXb2O82CiwkRc6k8bbmXza_VBKfbqb8Wve_TSCfjpS1bbK_nObTiVaBWV02N8N4tDyJ_x5t-f6Znt_O2Q-E3wW4eJecImgSNpmGDMj_7m4Hu2iVm2bLSSwKEL54Ea17Jc9G1pAJW4ozFRJbgskkbadNc6xTGG16KzWDwW04JrtP13ZtK6fVZhZqSVh92tBY47B8z6r4uzXjUOnYGMnU.webp?r=b87);
  background-size: cover;
  border-width: 4px;
}
