.container {
  width: 100%;
  height: 267px;
  padding: 30px 260px;
  margin: 86px auto 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  * {
    color: #737373;
    font-weight: 400;
  }
}

.heading {
  width: 100%;
  height: 46px;
  padding: 12px 0;

  > a {
    font-size: 16px;
  }
}

.grid-links {
  width: 1000px;
  height: 64px;
  padding: 12px 0;

  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 16px;

  &__item {
    list-style: none;
  }

  &__content {
    font-size: 13px;
    font-weight: 400;
  }
}

.select-language {
  margin-top: 25px;
}

.brand {
  margin-top: 30px;
  font-size: 14px;
}
