.background {
  background-color: #000000;
  height: auto;
}

.header {
  max-width: 1152px;
  height: 86px;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  left: 0;
  right: 0;

  .logo {
    width: auto;
    height: 100%;
  }

  .right {
    display: flex;
    flex-direction: row;

    .select-language {
      margin-right: 24px;
    }
  }
}